@model ApiUsuarios.WEB.Models.VehiculoDto

<h2>Detalle vehiculo</h2>

<p><b>Id:</b> @Model.Id</p>
<p><b>Marca:</b> @Model.Marca</p>
<p><b>Modelo:</b> @Model.Modelo</p>
<p><b>Anno:</b> @Model.Anno</p>
<p><b>Precio:</b> @Model.Precio</p>
<p><b>Color:</b> @Model.Color</p>

<a asp-action="Index" class="btn btn-secondary">Volver</a>
